body {
    background: rgb(95, 177, 255);
}
.forky {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.face {
    width: 300px;
    height: 300px;
    background: #f0f0f0;
    position: absolute;
    border-radius: 65% 30% 65% 28%;
    transform: rotate(-45deg);
    top: -135px;
    left: -147px;
}

/* The mask div will mask the unwanted part of the face div */

.face-mask1 {
    width: 300px;
    height: 60px;
    background: rgb(95, 177, 255);
    position: absolute;
    top: -160px;
    left: -147px;
}

.fork1, .fork4 {
    width: 193px;
    height: 189px;
    background: #f0f0f0;
    border-radius: 100% 0% 97% 3% / 91% 0% 99% 3%;
    transform: rotate(-44deg);
    position: absolute;
    top: -121px;
    left: -159px;
}

.fork2, .fork3 {
    width: 122px;
    height: 77px;
    background: #f0f0f0;
    border-radius: 100% 0% 86% 14% / 98% 0% 100% 2%;
    transform: rotate(128deg);
    position: absolute;
    top: -141px;
    left: -88px;
}

.fork3 {
    left: -34px;
    transform: rotate(50deg) rotateY(180deg);
}

.fork4 {
    left: -37px;
    transform: rotate(45deg) rotateY(180deg);
}

/* Eyes: same technique used to create the hair, but this time adding some box-shadow to create depth. */

.eye1 {
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -51px;
    left: -99px;
    box-shadow: 1px 1px 3px #888787;
}

.pupil1 {
    width: 70px;
    height: 70px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 5px;
    box-shadow: 1px 1px 3px #888787;
}
